body {
  font-family: "Arial", sans-serif;
}

/* 1) Customize text*/
.game--title,.game--status{
  text-align: center;
}

.game--status{
  color: grey;
}

/* 2) Customize game--board */

.game--board{
  height: 350px;
  width: 350px;
  background-image: url('background.jpg');
  margin:auto;
}

.game--container{
  display: grid;
  grid-template-columns: repeat(3,auto);
  width: 306px;
  padding-left:20px;
  padding-top:25px;
}

/* 3) Customize game--board column*/

.cell{
  width: 100px;
  height: 100px;
  cursor: pointer;
  font-family:"Permanent Marker",cursive;
  color:#fff3e6;
  text-align: center;
  line-height: 100px;
  font-size: 50px;
}

.cell:hover{
  background:#fdffbc;
  opacity: 0.4;
}

/* 4) Customize column border*/

.sq0,.sq1,.sq6,.sq7{
  border-right: 3px solid #ffffe6;
}

.sq3,.sq4{
  border-top: 3px solid #ffffe6;
  border-right: 3px solid #ffffe6;
  border-bottom: 3px solid #ffffe6;
}

.sq5{
  border-top: 3px solid #ffffe6;
  border-bottom: 3px solid #ffffe6;
}

/* 5) Customize game--restart button*/

.game--restart{
  font-weight: 400;
  line-height: 1;
  font-size: 1rem;
  color: #ffff;
  background-color:#4d83ff;
  border-color: #4d83ff;
  border: 1px solid transparent;
  border-radius: 0.2rem;
  padding:0.75rem 1.5rem;

}

.btn{
  text-align: center;
}
